<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Garmen</title>
</head>
<body>
    <h1>Tambah Garmen</h1>
    <form action="/garments" method="post">
        <ul>
            <li>
                <label for="name">Nama Garmen</label>
                <input type="text" name="name" id="name">
            </li>
            <li>
                <label for="location">Lokasi</label>
                <input type="text" name="location" id="location">
            </li>
            <li>
                <label for="contact">Kontak</label>
                <input type="text" name="contact" id="contact">
            </li>
                <button type="submit" >Submit</button>
            </li>
        </ul>
    </form>
</body>
</html>