<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Comments</title>
</head>
<body>
    <h1>Edit form Comments</h1>
    <ul>
    <form action="/comments/<%= comment.id %>?_method=PATCH" method="post" >
        <li>
            <label for="username">username</label>
            <input type="text" name="username" id="username">
        </li>
        <li>
            <label for="text">Comments</label>
            <textarea name="text" id="text" cols="30" rows="5"><%= comment.text %></textarea>
        </li>
        <li>
            <button type="submit" >submit</button>
        </li>
    </form>
    </ul>
</body>
</html>