<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
    <h1>hello world</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et sed magni illo, iure quos cum debitis illum excepturi hic reprehenderit. Repellendus suscipit ipsum sit temporibus placeat exercitationem animi, consequuntur hic!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus sapiente ipsum modi a aperiam iusto nisi, nulla, libero, veniam repellat adipisci vero at maiores ipsa doloremque incidunt in rem ratione corporis. Exercitationem quasi vitae aperiam placeat debitis distinctio tempore, alias porro vel impedit suscipit sunt at commodi repellat voluptatem. Quidem unde quos aperiam dolor ducimus sunt impedit quas veniam illum error, veritatis quo eius itaque voluptate vitae earum ex quia blanditiis! Quod .</p>

    
    <%- include('partials/footer.ejs') %>